$logo-font: "Pacifico", serif;
$greeting-part-1-font: "Ms Madi", serif;
$greeting-part-2-font: "Press Start 2P", serif;
$services-font: "Roboto", serif;

$greeting-text-light-color: white;
$greeting-text-dark-color: rgb(75, 46, 13);
$services-icons-color: rgb(204, 173, 0);
$portfolio-background: rgb(221, 221, 221);


.navbar-brand {
    font-family: $logo-font;
    font-size: 30px;
}

.welcome-page > img, .welcome-page {
    height: calc(100vw/2 + 120px);
}

.greeting {
    margin-top: calc(14vw + 60px);
    margin-left: auto;
    margin-right: auto;
}

.greeting-text {
    font-size: calc(100vw/16);
    text-align: center;
}

.greeting-part-1 {
    font-family: $greeting-part-1-font;
    font-weight: bold;
    color: $greeting-text-dark-color;
}

.greeting-part-2 {
    font-family: $greeting-part-2-font;
    color: $greeting-text-light-color;
}

// Services
.services .row {
    padding: 70px 0;
    text-align: center;
}

.services-header {
    font-family: $services-font;
    font-weight: bold;
}

.services-icon {
    font-size: 30px;
}

.services-main-paragraph {
    margin-bottom: 70px;
}

.services-paragraph {
    font-style: italic;
}

.services-icon {
    color: $services-icons-color;
    border: solid 3px;
    border-radius: 50%;
    width: 67px;
    margin-left: auto;
    margin-right: auto;
}

// Portfolio
.portfolio-background {
    background: $portfolio-background;
}

.portfolio .row {
    padding: 70px 0;
    text-align: center;
}

.portfolio-header {
    font-family: $services-font;
    font-weight: bold;
}

.portfolio-main-paragraph {
    margin-bottom: 70px;
}

.portfolio img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.portfolio-paragraph {
    font-style: italic;
}